---
import { Image } from "astro:assets";
import logo from "/public/Logo.svg";
---

<header class="bg-transparent p-2 px-4">
  <div class="w-full md:px-4 py-2 flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <Image
        width={45}
        height={45}
        src={logo}
        alt="Observatorio de la educación"
        class="h-[35px] md:h-[50px] w-auto"
      />
    </div>

    <!-- Botón de menú hamburguesa -->
    <button
      id="menu-toggle"
      class="md:hidden text-gray-600 focus:outline-none"
      aria-label="Abrir menú"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Menú de navegación -->
    <nav
      id="menu"
      class="justify-center hidden md:flex md:items-center md:space-x-6 font-poppins absolute md:static top-16 left-0 w-full bg-white md:bg-transparent shadow-md md:shadow-none p-4 md:p-0 transition-all duration-300 ease-in-out"
    >
      <ul
        class="flex flex-col md:flex-row gap-4 md:gap-6 text-[14px] font-semibold text-black"
      >
        <li>
          <a href="/" class="text-gray-600 hover:text-[#0E667C]"
            >Sobre Nosotros</a
          >
        </li>
        <li>
          <a href="/comites-unidos" class="text-gray-600 hover:text-[#0E667C]"
            >Córdoba en datos</a
          >
        </li>
        <li>
          <a href="/investigaciones" class="text-gray-600 hover:text-[#0E667C]"
            >Investigaciones</a
          >
        </li>
        <li>
          <a href="/publicaciones" class="text-gray-600 hover:text-[#0E667C]"
            >Publicaciones</a
          >
        </li>
      </ul>
    </nav>

    <!-- Botón de contacto -->
    <a
      href="/contacto"
      class="hidden md:flex items-center justify-center gap-2 bg-[#3072FF] hover:bg-blue-400 font-normal px-4 py-2 rounded-lg text-white transition"
    >
      <span>Contacto</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 font-bold"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5l6 6m0 0l-6 6m6-6H4.5"></path>
      </svg>
    </a>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle")!;
    const menu = document.getElementById("menu")!;

    menuToggle.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  });
</script>
