---
import Layout from "../layouts/Layout.astro";
import Imagen1 from "../../public/assets/ImagenHome.jpg";

---

<Layout title="Inicio">
    <section class="p-20">
      <div class="flex flex-row items-center justify-center">
        <div class="flex flex-col items-center justify-center w-1/2">
          <div>
            <h1 class="text-6xl font-bold">Bienvenidos al Observatorio de la Educaci칩n</h1>
            <p>Explora una plataforma dedicada al an치lisis y la investigaci칩n del sector educativo, dise침ada para inspirar y educar.</p>
          </div>
          <div class="flex flex-row items-center justify-center gap-4">
            <div class="flex flex-col items-center gap-2">
              <h6>+200</h6>
              <span>Investigaciones</span>
            </div>
            <div class="flex flex-col items-center gap-2">
              <h6>+200</h6>
              <span>Publicaciones</span>
            </div>
            <div class="flex flex-col items-center gap-2">
              <h6>+200</h6>
              <span>Investigadores</span>
            </div>
          </div>
        </div>
        
        <div class="flex flex-col items-center justify-center w-1/2">
          <iframe src="{Imagen1}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section>
</Layout>
