---
import CardGrid from "./CardGrid.astro";
---

<section class="px-4 sm:px-0 py-10 pl-0">
  <div>
    <h1 class="text-4xl font-medium pb-4">¿Que Hacemos?</h1>
    <p class="text-gray-600 text-xs max-w-xl">
      Recopilamos información educativa, la analizamos con herramientas
      avanzadas y generamos informes, visualizaciones interactivas y estrategias
      para la toma de decisiones.
    </p>
  </div>
  <CardGrid />
</section>
