---
const equipo = [
  {
    nombre: "Luis Fernando Alfonso Garzón",
    cargo: "Decano (E)",
    img: "/assets/investigadores/inv1.webp",
  },
  {
    nombre: "Aura Esther Castillo Lozano",
    cargo: "Subdirectora",
    img: "/assets/investigadores/inv3.webp",
  },
  {
    nombre: "Juan David Osorio Bustamante",
    cargo: "Coordinador",
    img: "/assets/investigadores/inv2.webp",
  },
];
---

<section class="w-full">
  <div class="flex flex-col justify-center items-center md:flex-row gap-10 p-6">
    {
      equipo.map((persona) => (
        <div
          class="relative w-full h-96 rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl max-w-xs"
        >
          <img
            src={persona.img}
            alt={persona.nombre}
            class="w-full h-full object-cover object-top"
          />
          <div class="absolute bottom-0 backdrop-blur-sm left-0 w-full bg-black bg-opacity-30 text-white p-3 text-center">
            <h2 class="font-medium text-sm">{persona.nombre}</h2>
            <p class="text-xs">{persona.cargo}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

