---
// src/layouts/Layout.astro
import Navbar from "../components/ui/Navbar.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
interface Props {
  title: string;
}
import Footer from "../components/ui/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ClientRouter />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>{title} | Observatorio de la educación</title>
  </head>
  <body class="bg-gray-50 relative">
    <!-- Fondo estilizado -->
    <div
      class="absolute inset-0 -z-10 h-full w-full"
      style="background: radial-gradient(55% 85% at 50% 45%, rgba(213,249,255,0.6) 0%, rgba(255,255,255,1) 100%)"
    >
    </div>

    <Navbar />
    <main class="font-poppins" >
      <slot />
    </main>
    <Footer />
  </body>
</html>
