---
<<<<<<< HEAD
import logo from "/public/Logo.svg";
=======
import logo from "../../../public/assets/icons/Recurso3.svg";
>>>>>>> 6f945496616c6df27f4a6e91a4790b8bab97f87a
import { Image } from "astro:assets";
---

<footer class="bg-gray-100 py-6 mt-12 font-poppins">
  <div class="container mx-auto px-4 text-center text-gray-600">
    <div
      class="flex items-start md:items-center justify-around gap-10 md:gap-20 flex-col md:flex-row"
    >
      <div class="flex flex-col items-start gap-4 mb-4">
        <a href="/">
          <Image
            width={45}
            height={45}
            src={logo}
            alt="Observatorio de la educaci贸n "
            class="h-[35px] md:h-[50px] w-auto md:block hidden"
          />
          <p class="text-lg font-bold text-black md:hidden block">
            Observatorio de la Educaci贸n
          </p>
        </a>
        <p class="text-xs hidden md:block">
          &copy; {new Date().getFullYear()} Observatorio de la educaci贸n. Todos los
          derechos reservados.
        </p>
      </div>
      <div class="flex flex-col items-start gap-2">
        <h4 class="font-semibold text-black">Contacto</h4>
        <p>contact@observatorio.com</p>
      </div>
      <div class="flex flex-col items-start gap-2">
        <h1 class="font-semibold text-black">Ubicaci贸n</h1>
        <p>Calle 52A No. 6-79, La Castellana</p>
      </div>
    </div>
  </div>
</footer>
